body{
    max-width: 750px;
    margin: auto;
    border: solid black 2px;
    font-family: 'Roboto', sans-serif;
}

/*----------NAVBAR-------------*/

header{
    position: relative;
    box-shadow: 0px 2px 13px -8px;
}

nav{
    width: 100%;
    background: $couleur-de-navbar;
}

.navbar{
    text-align: center;
    margin: auto;
}

.img-nav{
    justify-items: center;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*-------------------SECTION1------------------*/

#section1{
    display: block;
    justify-content: center;  
}

.icon-localisation{
    background: $couleur-section1;
    padding-top: 10px;
    width: 100%;
    justify-content: center;        
    text-align: center;
    padding-bottom: 10px;
}

.fa-map-marker-alt:before {
    content: "\f3c5";
    padding-right: 10px;
}

.text-button{
    @include center;
    background: $couleur2-section1;
}

