/* -----------code pour cacher le loader spinner*-----------*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}


.center{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.ring{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 3s linear;
    
}

@keyframes ring{
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px $couleur-primaire
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px $couleur-secondaire;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px $couleur-tertiaire ;
    }
}

.ring:before{
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   border-radius:50%;
   box-shadow: 0 0 5px rgba(255,255,255,.3); 
}

.loading{
    color: #737373;
    font-size: 20px;
    text-transform:uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text{
    50%{
        color: black;
    }
}

body{
    max-width: 750px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

/*----------NAVBAR-------------*/

header{
    position: relative;
    box-shadow: 0px 2px 13px -8px;
}

nav{
    width: 100%;
    background: $couleur-de-navbar;
}

.navbar{
    text-align: center;
    margin: auto;
}

.img-nav{
    justify-items: center;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*-------------------SECTION1------------------*/

#section1{
    display: block;
    justify-content: center;  
}

.icon-localisation{
    background: $couleur-section1;
    padding-top: 10px;
    width: 100%;
    justify-content: center;        
    text-align: center;
    padding-bottom: 10px;
    display: flex;
}

.fa-map-marker-alt{
    content: "\f3c5";
    padding-right: 10px;  
    padding-top: 15px;
}

.nom-location{
    font-family: 'Roboto', sans-serif;
}

.text-button{
    @include center;
    background: $couleur2-section1;
    padding-bottom: 50px;
}

.button-section1{
    margin-top: 15px;
    border-radius: 45px;
    padding: 0px 25px;
    box-shadow: 0px 5px 10px -5px;
    border: 0;
    background-image:linear-gradient( -195deg,#FF79DA,#9356DC );
}

.button-section1:hover{
    opacity: 0.6;
    box-shadow: 7px 9px 10px -5px;
}

.couleur-text-button{
    color: $couleur-de-navbar;
}

#text-loca{
    font-family: 'Roboto', sans-serif;
}

#h1section1{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    @include wrap;
}

/* --------------SECTION2----------------------*/

.section2{
    display: block;
    justify-content: center; 
    padding-bottom: 50px; 
}

#h2section2{
    margin: 0;
    padding-top: 30px;
    padding-left: 20px;

}

.bloc-section2{
    justify-content: center;
    margin: auto;
}

.restaurant{
    @include center-all;
    @include bloc-fonctionnement;
}

.menu{
    @include center-all;
    @include bloc-fonctionnement;
}

.deguster-au-restaurant{
    @include center-all;
    @include bloc-fonctionnement;
}

.numerotation-fonctionnement{
    @include fond-nbr;
    right: 97%;
    position: absolute;
}

.text-section2{
    padding-left: 35px;
    background: blue;
}

.restaurant:hover, .deguster-au-restaurant:hover,.menu:hover{
    box-shadow: 7px 9px 10px -5px rgb (0,0,0/0.1); 
    background-color: $couleur-hover;
}

.fa-mobile-alt:hover, .fa-ellipsis-v:hover, .fa-store:hover{
    color: $couleur-primaire;
}

/*-------------------SECTION 3------------------*/

.section3{
    background: $couleur2-section1;
    padding-bottom: 50px;
}

.H2-section3{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 10px;
    padding-left: 40px;
}

.card-menu{
    display: block;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
}

.lien-image{
    text-decoration: none;
    color: black;
}

.card{
    display: block;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 2px 13px -8px;
    background-color: #fff;
    border-radius: 20px;  
    position: relative;
}

.image-section3{
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0; 
}

.card-new{
    background: $couleur-tertiaire;
    color: green;
    display: inline-block;
    position: absolute;
    padding: 3px 5px;
    left: 73%;
}

.box-inside-card{
    display: flex;
    justify-content: space-between;
}

.p-section3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 2px;
    padding-left: 3px;
    margin-bottom: 5px;
    flex-wrap: nowrap;
}

.h3section3{
    font-family: Raleway Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 3px;
    margin-bottom: 0px;
    flex-wrap: nowrap;
}

.box-inside-1{
    padding-left: 20px;
    padding-bottom: 15px; 
}

.box-inside-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fas{
    padding-right: 20px;
    color: $couleur-de-navbar;  
}

.fa-ellipsis-v, .fa-mobile-alt, .fa-store, .fa-bars, .fa-map-marker-alt {
    color: black;
}

.far{
    padding-right: 20px;
    color: black;
    position: absolute;     
}

.far:hover{
    display: none;
}

.fas:hover, .fa-heart:hover, .love:hover{    
    background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
    background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%); 
    background: linear-gradient(to bottom, #e72c83 0%,#a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
    z-index: 2;
}

.fa-map-marker-alt:hover{
    color: black;
}

.fa-check-circle{
    color: transparent;
}

.fa-check-circle:hover{
    background: $couleur-tertiaire;
    color: white;
    transition: 2s;
    transform: rotate(360deg);
    -webkit-text-fill-color:white;
}

.i1{
    color: transparent;
    transition: 2s;
    transform: rotate(360deg);
    -webkit-text-fill-color:white;
}



/*------------------FOOTER---------------------*/

.footer{
    padding-left: 20px;
    background-color:$couleur-footer;
    color: $couleur-de-navbar;
    padding-bottom: 20px;
}

.ustensils{
    padding-bottom: 15px;
}

.contact{
    text-decoration: none;
    color: $couleur-de-navbar;
}

.logo-footer{
    margin-top: 0px;
    padding-top: 20px;
    font-family: 'Shrikhand', cursive;
} 

/*animation: pulse 0.75s ease-in infinite alternate;

animation: load-end 200ms ease-out 1500ms both;*/







