.page1-html{
    text-decoration: none;
    color: black;
}


/*----------PAGE1-HTML------------------*/

body{
    position: relative;
}

.image-page{
    @include image-page1;
    z-index: -1;
}

.grande-div-page1{
    border-radius: 20px 20px 0 0;
    background: $couleur2-section1;
    border-radius: 20px 20px 0 0;
    background: #f6f6f6;
    top: 265px;
    position: absolute;
    width: 100%;
}

.h1-page1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Shrikhand', cursive;
    padding-left: 30px;
    padding-top: 25px;
}

.text-entrees{
    padding-left: 25px;
}

.titreh1-icon{
    display: flex;
}

.coeur1{
    padding-left: 70px;
    padding-top: 35px;
}

