.page1-html{
    text-decoration: none;
    color: black;
}


/*----------PAGE1-HTML------------------*/

body{
    position: relative;
}

.image-page{
    @include image-page1;
    z-index: -1;
}

.grande-div-page1{
    border-radius: 20px 20px 0 0;
    background: $couleur2-section1;
    border-radius: 20px 20px 0 0;
    background: #f6f6f6;
    top: 265px;
    position: absolute;
    width: 100%;
}

.h1-page1{
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Shrikhand', cursive;
    padding-left: 30px;
    padding-top: 25px;
}

.text-entrees{
    margin-bottom: 0;
    border-bottom: 4px solid #99E2D0;
    width: 50px;
    margin-left: 25px;
    padding-bottom: 5px;
}

.titreh1-icon{
    display: flex;
}

.coeur1{
    padding-left: 70px;
    padding-top: 35px;
}

.bloc-entrees{
    display: flex;
}

.entrees1{
background: $couleur-de-navbar;
@include center-all;
@include bloc-fonctionnement;
position: relative;
justify-content: space-between;
}

.h3entrees1{
    margin: 0;
    padding-top: 10px;
    
}

.p-entrees1{
    margin: 0;
    padding-bottom: 10px;
    
}

