/*pour tablette et desktop*/

@media screen and (min-width:751px) {
    

    nav{
        width: 100%;
        box-shadow: 0px 2px 13px -8px;
    }

    body{
        max-width: 100%;
        margin: auto;
        
    }
/*-------------------------SECTION2 DESKTOP----------------------*/

    #h2section2{
        text-align: center;
    }

    .restaurant{
        width: 20%;
        justify-content: center;
    }
    
    .menu{
        width: 30%;
        justify-content: center;

    }
    
    .deguster-au-restaurant{
        width: 40%;
        justify-content: center;
    }

/*------------------SECTION3 DESKTOP----------------------*/
    .H2-section3{
        
        text-align: center;
    }

    .sous-section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .card-menu{
        width: 40%;
        flex-wrap: wrap;
    }

    .card{
        display: inline-block;
        
    }

    .image-section3 {
        width: 100%;
        height: 83%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0;
    }
    
    .h3section3{
        flex-wrap: nowrap;
        margin-top: 0;
    }

    .footer{
        text-align: center;
    }

/*-------------------PAGE DES MENUS-------------------*/
    .image-page{
        height: 255px;
    }

    .titreh1-icon{
        justify-content: center;
    }  

    .coeur3:hover{
        padding-right: 20px;
    }
    

    .coeur4{
        padding-left: 290px;
    }

    .coeur6{
        padding-left: 246px;
    }
    
    .coeur5{
        padding-right: 20px;
        padding-left: 246px;
    }
}

// une autre partie du responsive est dans la page la palette du gout en sass