/*--------------couleur----------*/
$couleur-de-navbar: #fff;
$couleur-primaire: #9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-section1:#eaeaea;
$couleur2-section1: #f6f6f6;

