@charset "UTF-8";
/*--------------couleur----------*/
/*centrer un élement dans sa box*/
/*aller à la ligne quand on fait du responsive*/
/* -----------code pour cacher le loader spinner*-----------*/
#hideMe {
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-animation: ring 3s linear;
          animation: ring 3s linear;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #99E2D0;
            box-shadow: 1px 5px 2px #99E2D0;
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: 1px 5px 2px #9356DC;
            box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: 1px 5px 2px #FF79DA;
            box-shadow: 1px 5px 2px #FF79DA;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-box-shadow: 1px 5px 2px #99E2D0;
            box-shadow: 1px 5px 2px #99E2D0;
  }
}

.ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loading {
  color: #737373;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  -webkit-animation: text 3s ease-in-out infinite;
          animation: text 3s ease-in-out infinite;
}

@-webkit-keyframes text {
  50% {
    color: black;
  }
}

@keyframes text {
  50% {
    color: black;
  }
}

body {
  max-width: 750px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

/*----------NAVBAR-------------*/
header {
  position: relative;
  -webkit-box-shadow: 0px 2px 13px -8px;
          box-shadow: 0px 2px 13px -8px;
}

nav {
  width: 100%;
  background: #fff;
}

.navbar {
  text-align: center;
  margin: auto;
}

.img-nav {
  justify-items: center;
  width: 120px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*-------------------SECTION1------------------*/
#section1 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-localisation {
  background: #eaeaea;
  padding-top: 10px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fa-map-marker-alt {
  content: "\f3c5";
  padding-right: 10px;
  padding-top: 15px;
}

.nom-location {
  font-family: 'Roboto', sans-serif;
}

.text-button {
  text-align: center;
  margin: auto;
  background: #f6f6f6;
  padding-bottom: 50px;
}

.button-section1 {
  margin-top: 15px;
  border-radius: 45px;
  padding: 0px 25px;
  -webkit-box-shadow: 0px 5px 10px -5px;
          box-shadow: 0px 5px 10px -5px;
  border: 0;
  background-image: linear-gradient(-195deg, #FF79DA, #9356DC);
}

.button-section1:hover {
  opacity: 0.6;
  -webkit-box-shadow: 7px 9px 10px -5px;
          box-shadow: 7px 9px 10px -5px;
}

.couleur-text-button {
  color: #fff;
}

#text-loca {
  font-family: 'Roboto', sans-serif;
}

#h1section1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* --------------SECTION2----------------------*/
.section2 {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

#h2section2 {
  margin: 0;
  padding-top: 30px;
  padding-left: 20px;
}

.bloc-section2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  padding: 0px 25px;
  -webkit-box-shadow: 0px 5px 10px -5px;
          box-shadow: 0px 5px 10px -5px;
  border: 0;
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  padding: 0px 25px;
  -webkit-box-shadow: 0px 5px 10px -5px;
          box-shadow: 0px 5px 10px -5px;
  border: 0;
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.deguster-au-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  padding: 0px 25px;
  -webkit-box-shadow: 0px 5px 10px -5px;
          box-shadow: 0px 5px 10px -5px;
  border: 0;
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.numerotation-fonctionnement {
  border-radius: 20px;
  background: #9356DC;
  padding: 3px 7px;
  right: 97%;
  position: absolute;
}

.text-section2 {
  padding-left: 35px;
}

.restaurant:hover, .deguster-au-restaurant:hover, .menu:hover {
  -webkit-box-shadow: 7px 9px 10px -5px rgb 0, 0, 0, 0.1;
          box-shadow: 7px 9px 10px -5px rgb 0, 0, 0, 0.1;
  background-color: #fff3fc;
}

.fa-mobile-alt:hover, .fa-ellipsis-v:hover, .fa-store:hover {
  color: #9356DC;
}

/*-------------------SECTION 3------------------*/
.section3 {
  background: #f6f6f6;
  padding-bottom: 50px;
}

.H2-section3 {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 10‒;
  padding-left: 40px;
}

.card-menu {
  display: block;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lien-image {
  text-decoration: none;
  color: black;
}

.card {
  display: block;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-box-shadow: 0px 2px 13px -8px;
          box-shadow: 0px 2px 13px -8px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
}

.image-section3 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0;
}

.card-new {
  background: #99E2D0;
  color: green;
  display: inline-block;
  position: absolute;
  padding: 3px 5px;
  left: 73%;
}

.box-inside-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-section3 {
  font-family: Raleway Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 0px;
  margin-top: 2px;
  padding-left: 3px;
  margin-bottom: 5px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.h3section3 {
  font-family: Raleway Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 3px;
  margin-bottom: 0px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.box-inside-1 {
  padding-left: 20px;
  padding-bottom: 15px;
}

.box-inside-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.fas {
  padding-right: 20px;
  color: #fff;
}

.fa-ellipsis-v, .fa-mobile-alt, .fa-store, .fa-bars, .fa-map-marker-alt {
  color: black;
}

.far {
  padding-right: 20px;
  color: black;
  position: absolute;
}

.far:hover {
  display: none;
}

.fas:hover, .fa-heart:hover, .love:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#e72c83), to(#a742c6));
  background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.fa-map-marker-alt:hover {
  color: black;
}

.fa-check-circle {
  color: transparent;
}

.fa-check-circle:hover {
  background: #99E2D0;
  color: white;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-text-fill-color: white;
}

.i1 {
  color: transparent;
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-text-fill-color: white;
}

/*------------------FOOTER---------------------*/
.footer {
  padding-left: 20px;
  background-color: #353535;
  color: #fff;
  padding-bottom: 20px;
}

.ustensils {
  padding-bottom: 15px;
}

.contact {
  text-decoration: none;
  color: #fff;
}

.logo-footer {
  margin-top: 0px;
  padding-top: 20px;
  font-family: 'Shrikhand', cursive;
}

/*animation: pulse 0.75s ease-in infinite alternate;

animation: load-end 200ms ease-out 1500ms both;*/
/*pour tablette et desktop*/
@media screen and (min-width: 751px) {
  nav {
    width: 100%;
    -webkit-box-shadow: 0px 2px 13px -8px;
            box-shadow: 0px 2px 13px -8px;
  }
  body {
    max-width: 100%;
    margin: auto;
  }
  /*-------------------------SECTION2 DESKTOP----------------------*/
  #h2section2 {
    text-align: center;
  }
  .restaurant {
    width: 20%;
  }
  .menu {
    width: 30%;
  }
  .deguster-au-restaurant {
    width: 40%;
  }
  /*------------------SECTION3 DESKTOP----------------------*/
  .H2-section3 {
    text-align: center;
  }
  .sous-section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-menu {
    width: 40%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card {
    display: inline-block;
  }
  .image-section3 {
    width: 100%;
    height: 83%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px 20px 0px 0;
  }
  .h3section3 {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
  }
  .footer {
    text-align: center;
  }
  /*-------------------PAGE DES MENUS-------------------*/
  .image-page {
    height: 255px;
  }
  .titreh1-icon {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button2 {
    margin: 38%;
  }
  .coeur1 {
    padding-left: 290px;
    padding-top: 35px;
    padding-right: 0px;
  }
  .coeur3:hover {
    padding-right: 20px;
  }
  .coeur4 {
    padding-left: 290px;
  }
  .coeur6 {
    padding-left: 246px;
  }
  .coeur5 {
    padding-right: 20px;
    padding-left: 246px;
  }
}

.page1-html {
  text-decoration: none;
  color: black;
}

/*----------PAGE1-HTML------------------*/
body {
  position: relative;
}

.image-page {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.fa-arrow-left {
  padding-left: 20px;
  position: absolute;
  padding-top: 10px;
  color: black;
}

.grande-div-page1 {
  border-radius: 20px 20px 0 0;
  background: #f6f6f6;
  border-radius: 20px 20px 0 0;
  background: #f6f6f6;
  top: 265px;
  position: absolute;
  width: 100%;
}

.h1-page1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Shrikhand', cursive;
  padding-left: 30px;
  padding-top: 25px;
}

.text-entrees {
  margin-bottom: 0;
  border-bottom: 4px solid #99E2D0;
  width: 50px;
  margin-left: 25px;
  padding-bottom: 5px;
  padding-top: 15px;
}

.titreh1-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coeur1 {
  padding-left: 270px;
  padding-top: 35px;
}

.coeur2 {
  padding-right: 0px;
  padding-left: 25px;
  padding-top: 35px;
}

.coeur2:hover {
  padding-right: 0px;
  padding-left: 25px;
  padding-top: 35px;
}

.coeur3 {
  padding-right: 12px;
  padding-left: 25px;
  padding-top: 35px;
}

.coeur3:hover {
  padding-right: 12px;
  padding-left: 25px;
  padding-top: 35px;
}

.coeur4 {
  padding-right: 20px;
  padding-left: 283px;
}

.coeur6 {
  padding-right: 20px;
  padding-left: 227px;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: transparent;
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    color: transparent;
  }
  50% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
}

.bloc-entrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: reverse slideUp 1s;
}

.b2 {
  animation: reverse slideUp 1.1s;
}

.b3 {
  animation: reverse slideUp 1.2s;
}

.b4 {
  animation: reverse slideUp 1.3s;
}

.b5 {
  animation: reverse slideUp 1.4s;
}

.b6 {
  animation: reverse slideUp 1.5s;
}

.b7 {
  animation: reverse slideUp 1.6s;
}

.b8 {
  animation: reverse slideUp 1.7s;
}

.b9 {
  animation: reverse slideUp 1.8s;
}

.b1 {
  animation: reverse slideUp 1.9s;
}

.entrees1 {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  border-radius: 15px;
  padding: 0px 25px;
  -webkit-box-shadow: 0px 5px 10px -5px;
          box-shadow: 0px 5px 10px -5px;
  border: 0;
  background: #f6f6f6;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  position: relative;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 0;
  width: 85%;
}

.h3entrees1 {
  margin: 0;
  padding-top: 10px;
}

.p-entrees1 {
  margin: 0;
  padding-bottom: 10px;
}

.prix {
  padding-right: 15px;
}

.icon-prix {
  color: transparent;
  border-radius: 0px 15px 15px 0;
  padding: 23px;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.icon-prix:hover {
  animation: slide reverse 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #99E2D0;
}

.fa-check-circle {
  display: none;
}

.fa-check-circle:hover {
  background: #99E2D0;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button2 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 751px) {
  .entrees1 {
    width: 30%;
  }
  .text-entrees {
    width: 5%;
    margin-left: 35%;
  }
}
/*# sourceMappingURL=style.css.map */